name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Build the Docker image
      run: |
        docker build -t frontend ./fruitablesfronted -f ./fruitablesfronted/Dockerfile

    - name: Stop and remove any existing frontend container
      run: |
        docker rm -f frontend || true

    - name: Run the Docker container
      run: |
        docker run -d --name frontend -p 5173:5173 frontend
